/target/
/rho_runtime/target/
/rholang_parser/target/
/rholang_parser_test/target/
/dependencies/bnfc/src/*
/dependencies/bnfc/libbnfc.a
.vscode
.cargo
Cargo.lock
/dependencies/bnfc/src/Testrholang_mercury
/docker/app/
