/target/
/rho_runtime/target/
/rholang_parser/target/
/rholang_parser_test/target/
/dependencies/bnfc/src/*.o
/dependencies/bnfc/src/*.a
/dependencies/bnfc/src/*.gch
/dependencies/bnfc/libbnfc.a
.vscode
.cargo
Cargo.lock
/dependencies/bnfc/src/Testrholang_mercury
